SUPABASE_URL=https://iuvqwxuvplhkxoxbytaj.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml1dnF3eHV2cGxoa3hveGJ5dGFqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NjYwMzgsImV4cCI6MjA3ODU0MjAzOH0.OtJaHye35lzta9SDb1R5QC2FsTNzPQQ1Lljf9GaFdww
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml1dnF3eHV2cGxoa3hveGJ5dGFqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2Mjk2NjAzOCwiZXhwIjoyMDc4NTQyMDM4fQ.sIYKEsmpRioPj74ysfpIRn8AlsPm2qFe02rXNa61J-U
SUPABASE_DB_URL=postgresql://postgres.iuvqwxuvplhkxoxbytaj:Tub4r4o@@aws-1-us-east-1.pooler.supabase.com:5432/postgres
SUPABASE_STORAGE_BUCKET="player-photos"

